.version-selector {
  display: flex;
  font-size: 0.75rem;
  opacity: 0.6;
  border: 1px solid rgba(black, 0.1);
  border-radius: 5px;

  &:hover {
    transition-delay: 500ms;
    transition: 500ms background-color;
    background-color: rgba(black, 0.1);
  }

  > .choice {
    padding: 0.2rem 0.4rem;
  }

  > .choice.selected {
    background-color: rgba(black, 0.1);
  }

  > .choice + .choice {
    position: relative;
    &::before {
      @include partial-height-left-border(75%, 1px, solid, rgba(black, 0.1));
    }
  }
}
