.window-content {
  grid-column-start: sidebar;
  grid-column-end: full-end;

  padding-top: $window-content-padding + $toolbar-height;

  background-color: white;

  :not(source) + * {
    margin-top: 2rem;
  }
}
