.macos-window {
  display: grid;
  grid-template-columns: [full-start] 10rem [sidebar] 1fr [full-end];
  grid-template-rows: 1.5rem 1fr;

  border-radius: $macos-window-border-radius;
  box-shadow: 0 1.3rem 2.6rem 0.7rem rgba(black, 0.5);
}
