.toolbar {
  grid-column: full;
  grid-row: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border: 1px solid #aaaaaa;
  border-bottom: 1px solid #7c7c7c;
  border-top-left-radius: $macos-window-border-radius;
  border-top-right-radius: $macos-window-border-radius;
  background-image: linear-gradient(#e8e8e8, #b7b7b7);

  font-size: 0.8rem;

  color: #555555;
  text-shadow: 0 1px white;
}
