.toolbar {
  display: flex;
  flex-direction: column;

  > .title-and-info {
    display: flex;
    justify-content: center;

    > .info {
      margin-left: 0.25em;

      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }
}
