*,
::before,
::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  color: inherit;
  text-decoration: inherit;
  background-repeat: no-repeat;
}

html {
  font-size: 19px;
}

body {
  padding: 2rem;
  max-width: 32rem;
  margin: {
    left: auto;
    right: auto;
  }

  font-family: portada-text;
  font-variant-numeric: oldstyle-nums;
  line-height: 1.7;
}

body :not(source) + * {
  margin-top: 2rem;
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}

@import "fonts";
@import "color";
@import "links";
@import "media";

@import "components/entry-block";
@import "components/entry-header";
@import "components/page-header";
@import "components/site-title";
@import "components/window";
