*,
::before,
::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  color: inherit;
  text-decoration: inherit;
  background-repeat: no-repeat;
}

html {
  font-size: 19px;
}

body {
  height: 100vh;
  padding: 2rem;
  padding-bottom: 5rem;

  line-height: 1.7;

  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

em {
  font-style: italic;
}
strong {
  font-weight: 700;
}

@import "util";
@import "links";
@import "media";

$window-content-padding: 2rem;

@import "components/entry-block";
@import "components/entry-header";
@import "components/macos-window";
@import "components/window-content";
@import "components/window-screenshot";

body.big-sur {
  font-family: system-ui;
  background-image: url(https://512pixels.net/downloads/macos-wallpapers/11-0-Color-Day.jpg);

  $toolbar-height: 3rem;
  $macos-window-border-radius: 10px;

  @import "components/big-sur/macos-window";
  @import "components/big-sur/sidebar";
  @import "components/big-sur/toolbar";
  @import "components/big-sur/traffic-lights";
  @import "components/big-sur/version-selector";
  @import "components/big-sur/window-content";
  @import "components/big-sur/window-top";
}

body.yosemite {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  background-image: url(https://512pixels.net/downloads/macos-wallpapers-6k/10-10-6k.jpg);

  $macos-window-border-radius: 0.3rem;

  @import "components/yosemite/macos-window";
  @import "components/yosemite/sidebar";
  @import "components/yosemite/toolbar";
  @import "components/yosemite/traffic-lights";
  @import "components/yosemite/version-selector";
  @import "components/yosemite/window-content";
  @import "components/yosemite/window-top";
}

body.lion {
  font-family: "Lucida Grande", "Lucida Sans", sans-serif;
  background-image: url(https://512pixels.net/downloads/macos-wallpapers-6k/10-7-6k.jpg);

  $macos-window-border-radius: 0.25rem;
  $window-border-color: #8b8b8b;
  $bottom-window-border-color: #656565;

  @import "components/lion/macos-window";
  @import "components/lion/sidebar";
  @import "components/lion/toolbar";
  @import "components/lion/traffic-lights";
  @import "components/lion/version-selector";
  @import "components/lion/window-content";
  @import "components/lion/window-top";
}
