.sidebar {
  grid-column-start: full-start;
  grid-column-end: sidebar;

  padding: {
    top: $toolbar-height;
    left: 0.75rem;
  }

  font-size: 0.75rem;

  background-color: rgba(white, 0.7);
  backdrop-filter: blur(25px);

  border-right: 1px solid #e5e5e5;
  border-top-left-radius: $macos-window-border-radius;
  border-bottom-left-radius: $macos-window-border-radius;
}
