.window-content {
  grid-column-start: sidebar;
  grid-column-end: full-end;

  overflow: auto;
  padding: 2rem;
  padding-top: 2rem + $toolbar-height;

  background-color: white;

  :not(source) + * {
    margin-top: 2rem;
  }
}
