.window-screenshot {
  filter: drop-shadow(0 0.3rem 0.4rem rgba(0, 0, 0, 0.3))
    drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.7));

  * + & {
    margin-top: 2rem;
  }
  & + * {
    margin-top: 2.5rem;
  }
}
