<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>

  <body class="big-sur">
    <div class="macos-window">
      <main class="window-content">
        {{ block "body" . }}{{ end }}
      </main>

      <div class="sidebar">
        <p
          class="
          entry
          {{ if eq .Permalink .Site.BaseURL }}
            selected
          {{ end }}"
        >
          <a href="/">Please Fix Your UI</a>
        </p>

        {{ range .Site.RegularPages }}
          <p
            class="
            entry
            {{ if eq .Permalink $.Permalink }}
              selected
            {{ end }}"
          >
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </p>
        {{ end }}
      </div>

      <div class="toolbar">
        <div class="traffic-lights">
          <div class="traffic-light close"></div>
          <div class="traffic-light minimize"></div>
          <div class="traffic-light fullscreen"></div>
        </div>

        <div class="content">
          <p class="title">{{ .Title }}</p>
          <p class="info">{{ block "extra-toolbar-info" . }}{{ end }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
