<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head" . }}
  </head>

  <body class="big-sur">
    <div class="macos-window">
      <main class="window-content">
        {{ block "body" . }}{{ end }}
      </main>

      <div class="sidebar">
        <p
          class="
          entry
          {{ if eq .Permalink .Site.BaseURL }}
            selected
          {{ end }}"
        >
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </p>

        {{ range .Site.RegularPages }}
          <p
            class="
            entry
            {{ if eq .Permalink $.Permalink }}
              selected
            {{ end }}"
          >
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </p>
        {{ end }}
      </div>

      <div class="window-top">
        <div class="traffic-lights">
          <div class="traffic-light close"></div>
          <div class="traffic-light minimize"></div>
          <div class="traffic-light fullscreen"></div>
        </div>

        <div class="toolbar">
          <div class="title-and-info">
            <p class="title">{{ .Title }}</p>
            <p class="info">{{ block "extra-toolbar-info" . }}{{ end }}</p>
          </div>

          <div class="version-selector">
            <p id="big-sur" class="choice selected">Big Sur era</p>
            <p id="yosemite" class="choice">Yosemite era</p>
            <p id="lion" class="choice">Lion era</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      const bigSur = document.getElementById("big-sur");
      const yosemite = document.getElementById("yosemite");
      const lion = document.getElementById("lion");

      bigSur.onclick = () => {
        yosemite.classList.remove("selected");
        lion.classList.remove("selected");
        bigSur.classList.add("selected");

        document.body.className = "big-sur";
      };

      yosemite.onclick = () => {
        bigSur.classList.remove("selected");
        lion.classList.remove("selected");
        yosemite.classList.add("selected");

        document.body.className = "yosemite";
      };

      lion.onclick = () => {
        bigSur.classList.remove("selected");
        yosemite.classList.remove("selected");
        lion.classList.add("selected");

        document.body.className = "lion";
      };
    </script>
  </body>
</html>
